{% extends "base.html" %}

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        listar libros
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        
        <!--Crear la tabla a mostrar-->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>                
                <tr>
                    <td>1</td>
                    <td>Django con Python</td>
                    <td>Imagen.jpg</td>
                    <td>Libros que habla sobre el framework de django</td>
                    <td>Editar | Borrar</td>
                </tr>
            </tbody>
        </table>
        
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}